body{
    background-color: rgb(79, 78, 79);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:lightseagreen;
    text-align: center;
}
.assign{
    display: flex;
    padding: 10px;
    margin: 10px;
    background: lightseagreen;
}
.assign img{
    width: 200px;
    padding: 10px;
}
.assign {
border-radius: 20px; /* curved corners */
}
a{
text-decoration: none; /* remove underlining on anchor tags */ 
    color: rgb(79, 78, 79); /* pick the color you want */
}
.assign img {
padding: 10px; /* change this from margin to padding */
border: 2px solid midnightblue; /* try dashed, dotted */ 
}
Explain a:hover, img:hover, h1:hover 
a:hover {
text-decoration: none; 
color: salmon; 
}
